*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-bar {
  display: flex;
  justify-content: center; 
  gap: 20px;
  margin: 20px 0;
}

.menu-bar button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
  font-weight: bold;
}

.menu-bar button:hover{
    background: linear-gradient(135deg, #0d7a71 0%, #2ecc71 100%);
}



.wrapper { /*Breakfast*/
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
    padding: 20px 30px; 
    max-width: 1280px;
    margin: 0 auto; 
    overflow-x: auto;     
}
.wrapper1 { /*Lunch*/
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
    padding: 20px 30px; 
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: auto; 
}

.wrapper2 { /*Dinner*/
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
    padding: 20px 30px; 
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: auto; 
}


/* Maggi-Noodles*/
.body{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px; 
    margin-top: 20px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);            /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body > .box-number{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*Indiviual btns*/
.addCartbtn, .orderNowBtn{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn:hover{
    color: #FF5722;
}

.priceBtn{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}
 

/* Total btns container*/
.card-action-contaier{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}



/*Fruit salad*/
.body1{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);            /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body1:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body1 > .box-number1{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body1 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*Indiviual btns*/
.addCartbtn1, .orderNowBtn1{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn1{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn1:hover{
    color: #FF5722;
}

.priceBtn1{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}


/* Total btns container*/
.card-action-contaier1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row1{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


/*Aloo Paratha with Curd*/
.body2{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);            /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body2:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body2 > .box-number2{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body2 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.body2 h1{
    word-spacing: -1px;
}


/*Indiviual btns*/
.addCartbtn2, .orderNowBtn2{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn2{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn2:hover{
    color: #FF5722;
}

.priceBtn2{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}


/* Total btns container*/
.card-action-contaier2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}



/*Rice & Dal*/
.body3{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);            /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body3:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body3 > .box-number3{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body3 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*Indiviual btns*/
.addCartbtn3, .orderNowBtn3{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn3{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn3:hover{
    color: #FF5722;
}

.priceBtn3{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

/* Total btns container*/
.card-action-contaier3{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}




/*Chole Bhature*/
.body4{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 18px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);            /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body4:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body4 > .box-number4{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body4 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Indiviual btns*/
.addCartbtn4, .orderNowBtn4{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn4{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn4:hover{
    color: #FF5722;
}

.priceBtn4{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}


/* Total btns container*/
.card-action-contaier4{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row4{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


/*Veg Thali*/
.body5{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 18px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);            /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body5:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body5 > .box-number5{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body5 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Indiviual btns*/
.addCartbtn5, .orderNowBtn5{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn5{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn5:hover{
    color: #FF5722;
}

.priceBtn5{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

/*Total btns container*/
.card-action-contaier5{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row5{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}




/*Masala Dosa*/
.body6{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);          /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body6:hover {  
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body6 > .box-number6{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body6 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Indiviual btns*/
.addCartbtn6, .orderNowBtn6{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn6{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn6:hover{
    color: #FF5722;
}

.priceBtn6{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}


/* Total btns container*/
.card-action-contaier6{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row6{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}




/*Paneer Butter Masala*/
.body7{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);     /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body7:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body7 > .box-number7{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body7 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Indiviual btns*/
.addCartbtn7, .orderNowBtn7{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn7{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn7:hover{
    color: #FF5722;
}

.priceBtn7{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}


/* Total btns container*/
.card-action-contaier7{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row7{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


/*Veg Biryani with Raita*/
.body8{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    text-align: justify;
    background-color:rgba(255, 249, 196, 1);     /*background-color: #FFF9C4;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.body8:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.body8 > .box-number8{
    color: red;
    border: 1px solid black;
    border-radius: 11px;
    padding: 0 5px;
    background: linear-gradient(135deg, #fff9c4, #ffeb3b, #fbc02d)
}
.body8 > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Indiviual btns*/
.addCartbtn8, .orderNowBtn8{
    flex: 1;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.readMoreBtn8{
    background-color: transparent;  
    color: #1565c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.readMoreBtn8:hover{
    color: #FF5722;
}

.priceBtn8{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}


/* Total btns container*/
.card-action-contaier8{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
}
.price-row8{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-row8{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}