* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
}


.payment-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at top,
    #1f2933,
    #0f172a,
    #020617
  )
}


.payment-card {
  width: 340px;
  padding: 28px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  text-align: center
}

/* Title */
.payment-card h2 {
  color: #e5e7eb;
  margin-bottom: 8px;
  font-size: 26px;
  letter-spacing: 0.5px;
}

/* Amount text */
.payment-card p {
  width: 100%;
  border: 0;
  padding: 6px 12px;
  color: #cbd5f5;
  margin-bottom: 18px;
  font-size: 14px;
  animation: fadeUp 0.6s ease;
}

/* Input */
.upi-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 16px;
  background: #f1f5f9;
  color: #020617;
  font-size: 14px;
}

/* Button */
.pay-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s ease;
}

.pay-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(34, 197, 94, 0.5);
}

/* Note */
.note {
  margin-top: 14px;
  font-size: 12px;
  color: #94a3b8;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


